section{
    width: 100%;
    height: auto;
    padding-top: 4%!important;
}
.container{
    width:600px;
    background-image: linear-gradient(hsla(212, 41%, 64%, 0.3),hsla(289, 87%, 12%, 0.3));
    height: 100%;
    padding: 10px 100px;
    color: white;
    
}
.form-group{
    text-align: justify;
    color: white;
   
}
.form-control{
   width: 400px;
}


input.ng-valid{
    border: 1px solid green;
    border-right: 5px solid green;
    box-shadow: 0 0 0 0.2rem rgba(0,137,10,.25);

}

input.ng-Invalid.ng-touched{
    border: 1px solid red;
    border-right: 5px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255,43,27,.25);

}

input.ng-pending{
    border: 1px solid #ff9419;
    border-right: 5px solid #ff9419;
    box-shadow: 0 0 0 0.2rem rgba(255,127,2,.25);

}